<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tulingxueyuan.mall.modules.ums.mapper.UmsAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tulingxueyuan.mall.modules.ums.model.UmsAdmin">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="icon" property="icon" />
        <result column="email" property="email" />
        <result column="nick_name" property="nickName" />
        <result column="note" property="note" />
        <result column="create_time" property="createTime" />
        <result column="login_time" property="loginTime" />
        <result column="status" property="status" />
    </resultMap>
    <resultMap id="resource" extends="com.tulingxueyuan.mall.modules.ums.mapper.UmsResourceMapper.BaseResultMap"
               type="com.tulingxueyuan.mall.modules.ums.dto.domain.ResourceVO">
        <collection property="roleList" columnPrefix="role_" resultMap="com.tulingxueyuan.mall.modules.ums.mapper.UmsRoleMapper.BaseResultMap" >
        </collection>
    </resultMap>

    <select id="getAdminIdList" resultType="java.lang.Long">
        SELECT
            DISTINCT ar.admin_id
        FROM
            ums_role_resource_relation rr
                LEFT JOIN ums_admin_role_relation ar ON rr.role_id = ar.role_id
        WHERE rr.resource_id=#{resourceId}
    </select>
    <select id="getResource" resultMap="resource">
        SELECT
        re.`id`,
        re.`url`,
        re.`name`,
        r.`name` role_name
        FROM
        `ums_resource` re
        LEFT JOIN`ums_role_resource_relation` rela ON rela.`resource_id` = re.`id`
        LEFT JOIN`ums_role` r ON r.id = rela.`role_id`
        WHERE r.`name` IS NOT NULL
        ORDER BY re.`id`
    </select>

</mapper>
